:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --primary: #121212;
  --background: #f1f1f1;
  --secondary: #646cff;
  --info: #dbdbdb;
}

* {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  font-weight: 500;
  color: var(--primary);
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

section {
  margin-top: 50px;
}

input {
  border: 1px solid #ccc;
  padding: 10px 5px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: var(--primary);
  background: var(--info);
}

input:disabled {
  cursor: not-allowed;
}

body {
  background: var(--background);
  color: var(--primary);
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  &:has(.center) {
    place-items: center;
  }
  /* Dark mode */
  &:has(.dark) {
    --primary: #f1f1f1;
    --background: #121212;
    --info: #1a1a1a;
  }
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

img {
  max-width: 100%;
}

.heading {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 40px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--primary);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.container {
  margin: auto;
  @media (min-width: 1200px) {
    width: 1140px;
  }
  @media (max-width: 1199px) {
    width: 960px;
  }
  @media (max-width: 991px) {
    width: 720px;
  }
  @media (max-width: 767px) {
    width: 540px;
  }
  @media (max-width: 576px) {
    max-width: 100%;
  }
}

.container-fluid {
  width: calc(100vw - 40px);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  nav {
    border-right: 1px solid #888;
    padding: 20px 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .logo {
      width: 40px;
      height: 40px;
    }
    .user {
      padding-bottom: 20px;
    }
    button {
      background: transparent;
      border: none;
      padding: 0;
    }
    .icon {
      font-size: 20px;
      margin-bottom: 20px;
      color: #888;
      cursor: pointer;
      &:hover {
        color: var(--primary);
      }
    }
  }
}

.auth-form {
  width: 500px;
  margin: auto;
  padding: 40px 10px;
  box-shadow: 0 0 5px #888888;
  .field {
    display: flex;
    flex-direction: row;
    &.multiple {
      @media (min-width: 577px) {
        justify-content: space-between;
        input {
          width: 46%;
        }
      }
    }
    input {
      width: 100%;
      margin-bottom: 20px;
    }
    @media (max-width: 576px) {
      flex-direction: column;
    }
  }
  @media (max-width: 576px) {
    max-width: 100%;
  }
}

.fullwidth {
  width: 100%;
}

input {
  padding: 10px 5px;
}

input[type="submit"] {
  background: radial-gradient(#535bf2, #747bff);
  color: #fff;
  border: none;
}

input[type="submit"],
button,
a {
  cursor: pointer;
}

.password-field {
  position: relative;
  cursor: pointer;
}

.password-icon {
  position: absolute;
  font-size: 20px;
  top: 10px;
  right: 10px;
}

.error-box {
  color: #a02020;
  background-color: #ffe0e0;
  border: 1px solid currentColor;
  width: 500px;
  padding: 0 10px;
  margin: 10px auto;
}

.img-container {
  max-width: 300px;
  margin: auto;
  h2 {
    margin: 15px 0;
  }
  .image {
    position: relative;
  }
}

.user-img-input {
  display: none;
}

.user-img-label {
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  right: 10px;
  .icon {
    font-size: 1.5rem;
    color: #fff;
  }
}

.chat-container {
  --height: 50px;
  width: 100%;
  height: calc(100vh - 60px);
  display: flex;
  width: 100%;
  .chat-list {
    width: 25%;
    height: calc(100vh - var(--height));
    padding-inline-start: 30px;
    border-inline-end: 1px solid #ccc;
    .chat {
      --space: 5px;
      display: flex;
      width: calc(100% - (var(--space) * 3));
      border-bottom: 1px solid #ccc;
      padding: var(--space);
      cursor: pointer;
      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-inline-end: 5px;
      }
      .chat-name {
        text-align: start;
        display: block;
      }
      .last-message {
        font-size: 0.8rem;
        color: #888;
        text-align: start;
        display: block;
      }
    }
    .new-chat-btn {
      color: var(--primary);
      background: var(--secondary);
      width: calc(100% + 10px);
      height: var(--height);
      border-radius: 0;
      margin-inline-start: -10px;
    }
  }
  .current-chat {
    width: 75%;
    .chat-window {
      height: calc(100vh - 90px);
      padding: 20px 0;
      .message {
        margin: 5px;
      }
      .message-received {
        display: flex;
        max-width: calc(100% - 50px);
        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          margin-inline-end: 5px;
        }
        .message-content {
          background: var(--info);
          border-radius: 10px;
          max-width: 90%;
        }
      }
      .message-sent {
        display: flex;
        flex-direction: row-reverse;
        max-width: 100%;
        .message-content {
          background: #5f99ae;
          border-radius: 14px 14px 0 14px;
        }
      }
      .message-content {
        padding: 10px;
        text-align: start;
      }
    }
    .chat-form {
      width: calc(100% - 60px);
      margin: auto;
      form {
        display: flex;
        width: 100%;
        margin-inline: 10px;
        input {
          width: 100%;
          &:focus {
            outline: none;
          }
        }
        button {
          border: 1px solid #ccc;
          border-radius: 0;
          background: var(--secondary);
        }
      }
    }
  }
}

.no-chat {
  width: 100%;
  height: calc(100vh - 90px);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
  color: var(--primary);
}

.disappear {
  display: none;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  align-items: flex-start;
  button {
    color: var(--primary);
    background: var(--info);
    border-radius: 0;
  }
  .modal-header {
    margin-bottom: 10px;
  }
  .modal-content {
    position: relative;
    background: var(--background);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid var(--info);
    width: 80%;
    max-height: calc(100vh / 2);
    overflow-y: auto;
  }
  .close {
    font-size: 0.8rem;
    position: absolute;
    top: 0;
    right: 0;
  }
  input:focus {
    outline: none;
  }
  .modal-form {
    width: 100%;
    form {
      display: flex;
      justify-content: center;
      margin-bottom: 10px;
      input {
        width: 70%;
      }
    }
  }
  .user-friend {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    width: 80%;
    margin: auto;
    &:last-child {
      border-bottom: none;
    }
    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-inline-end: 5px;
    }
  }
}

form.search {
  width: 100%;
  display: flex;
  justify-content: center;
  button {
    background: var(--secondary);
    border: 1px solid var(--secondary);
    color: #fff;
    border-radius: 0;
    padding: 10px;
  }
  input {
    width: 80%;
    padding: 10px 5px;
    &:focus {
      outline: none;
    }
  }
}

.tab {
  margin-inline-end: 10px;
  background: var(--info);
  color: var(--primary);
  &.active {
    background: var(--secondary);
    color: #fff;
    border: none;
    outline: none;
  }
}

.users-list {
  margin-top: 20px;
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    width: 80%;
    margin: auto;
    &:last-child {
      border-bottom: none;
    }
    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
    button {
      background: var(--secondary);
      border: 1px solid var(--secondary);
      color: #fff;
      padding: 10px;
      margin-inline-start: 5px;
    }
  }
}

.chat-window {
  position: relative;
}

.typing-indicator {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  &::first-letter {
    text-transform: uppercase;
  }
}
